<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>[%d{HH:mm:ss.SSS}][%5level][%thread][%logger{30}] : %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>E:/logs/kafka/kafka-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%level] %logger - %msg%n
            </pattern>
        </encoder>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="stdout" />
        <appender-ref ref="RollingFile"/>
    </root>

    <logger name="org.apache" level="INFO" />
    <logger name="org.springframework" level="INFO" />
    <logger name="java.sql" level="DEBUG" />
    <logger name="com.erayt" level="DEBUG"/>
    <logger name="com.ibatis" level="INFO"/>

</configuration>